@import "tailwindcss";

:root {
  /* primary colors */
  --primary: hsl(147, 93%, 31%);
  --secondary: hsl(349, 89%, 60%);
  --accent: hsl(207, 90%, 54%);

  /* text colors */
  --neutral: hsl(0, 0%, 2%);
  --neutral-muted: hsl(0, 0%, 35%);
  --neutral-light: hsl(0, 0%, 95%);

  /* background colors */
  --base-100: hsl(0, 0%, 100%);
  --base-200: hsl(210, 20%, 98%);
  --base-300: hsl(210, 20%, 95%);

  /* feature blocks colors */
  --feature-pink: hsl(340, 100%, 92%);
  --feature-peach: hsl(30, 100%, 90%);
  --feature-mint: hsl(130, 50%, 88%);
  --feature-blue: hsl(211, 100%, 92%);
  --feature-yellow: hsl(50, 100%, 90%);
  --feature-purple: hsl(250, 100%, 90%);
}

.dark {
  --primary: hsl(147, 93%, 31%);
  --secondary: hsl(349, 89%, 60%);
  --accent: hsl(207, 90%, 54%);

  /* text colors */
  --neutral: hsl(0, 0%, 95%);
  --neutral-muted: hsl(0, 0%, 65%);
  --neutral-light: hsl(0, 0%, 15%);

  /* background colors */
  --base-100: hsl(0, 0%, 4%);
  --base-200: hsl(0, 0%, 8%);
  --base-300: hsl(0, 0%, 12%);

  /* feature blocks colors */
  --feature-pink: hsl(340, 100%, 5%);
  --feature-peach: hsl(30, 100%, 5%);
  --feature-mint: hsl(130, 50%, 5%);
  --feature-blue: hsl(211, 100%, 5%);
  --feature-yellow: hsl(50, 100%, 5%);
  --feature-purple: hsl(250, 100%, 5%);
}

@theme inline {
  /* font */
  --font-outfit: "Outfit", sans-serif;

  /* primary colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  /* text colors */
  --color-neutral: var(--neutral);
  --color-neutral-muted: var(--neutral-muted);
  --color-neutral-light: var(--neutral-light);

  /* background colors */
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);

  /* feature blocks colors */
  --color-feature-pink: var(--feature-pink);
  --color-feature-peach: var(--feature-peach);
  --color-feature-mint: var(--feature-mint);
  --color-feature-blue: var(--feature-blue);
  --color-feature-yellow: var(--feature-yellow);
  --color-feature-purple: var(--feature-purple);
}

@layer base {
  body {
    @apply bg-base-100 text-neutral-muted font-outfit selection:bg-primary selection:text-neutral-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral font-bold;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center gap-2 
    px-5 py-3 sm:px-6 sm:py-3.5 
    text-sm sm:text-base font-medium rounded-xl w-fit
    transition-all duration-300 active:scale-95
    hover:shadow-xl hover:-translate-y-1;
  }

  .btn-primary {
    @apply bg-neutral text-neutral-light hover:bg-neutral/90;
  }

  .btn-secondary {
    @apply bg-primary text-neutral-light hover:bg-primary/90;
  }
}
